<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bonCommande">
            <h2><span>Bon Commande</span> {{bonCommande.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{bonCommande.code}}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{bonCommande.libelle}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{bonCommande.description}}</span>
                </dd>
                <dt><span>Montant</span></dt>
                <dd>
                    <span>{{bonCommande.montant}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bon-commande', bonCommande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
